.caixa{
    background-color: #dbd93a;
}

.titulo{
    color: #4e2f00 !important;
    font-weight: bold !important;
}

.botao{
    border-color: #4e2f00 !important;
    background-color: #4e2f00;
    color: #4e2f00 !important;
}

.postagens{
    background-color: #4e2f00;
}

.text-decorator-none{
    text-decoration: none;
}