.box1{
    background-color: #4e2f00;
    height: 120px;
}

.redes{
    font-size: 60px !important;
     color: white;
}

.box2{
    background-color: #4e2f00;
    height: 60px;
}

.textos{
   color: white;
}